{% extends "auctions/layout.html" %} {% block body %}
<a class="nav-link" href="{% url 'index' %}"> <-- go to actions list </a>
   
<div class="d-flex flex-row justify-content-between">
    <div> 
        <div class="img-container">
        <img src="{{auction.image_url}}" alt="img of product" />
      </div>
  <div class="card-body">
    <h2 class="card-title">{{auction.name}}</h2>
    <p class="card-text text-black">
        <b>Description:</b> <p>{{auction.description}}</p>
    </p>
    <p><b>Price:</b> {{auction.price}}</p>
    <p><b>Publication date:</b> {{auction.created_at}}</p>
    <p><b>End date:</b> {{auction.end_date}}</p>
    <p><b>Seller:</b> {{auction.seller}}</p>
  </div>
</div>
  <div>
    <a href="{% url 'bid' auction.id %}" class="btn btn-info">Offer the price</a>
    
    <div class="mt-5">
      <p> <span><b>Author: </b></span> {{bidder}}</p>
      <p> <span><b>Current price: </b></span> {{ current_price }}</p>
    </div>
  </div>
    <div>
      <a href="{% url 'add_comment' auction.id %}" class="btn btn-info">Add a cometary</a>
      <div style="overflow: auto; max-width: 650px; height: 600px;">
          <table class="table table-striped mt-3">
            <thead >
              <tr>
                <th scope="col">Author</th>
                <th scope="col">Comment</th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
                <tr>
                  <th scope="row">{{comment.author}}</th>
                    <td>{{ comment }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

</div>

{% if user == seller %}

<a href="{% url 'edit' auction.id %}" class="btn btn-default btn-primary mb-2">Edit auction</a>

<form action="{% url 'delete' auction.id %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-default btn-danger" type="submit" value="Delete auction"/>
  </form>
  {% else %}

  {% if user.is_authenticated %}

    {% if auction.id in auctions_id%}
    <p>This auction is already on your watchlist.</p>
        <form method="post" action="{% url 'remove_from_watchlist' auction.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from watchlist</button>
        </form>
    {% else %}
    <form method="post" action="{% url 'add_to_watchlist' auction.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to watchlist</button>
    </form>
    {% endif %}
    
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to add this auction to your watchlist.</p>
{% endif %}

{% endif %} {% endblock %}
