{% extends "auctions/layout.html" %} {% block body %}

<h2 class="text-center my-2">Winning List</h2>
<ul class="row mx-auto">
  {% for auction in winning_lots %}

  <li class="col-md-3 card-group">
    <a href="{% url 'detail' auction.id %}"
      ><div class="card mb-4 shadow-sm card-custom">
        <div class="img-container">
          <img src="{{auction.image_url}}" alt="img of product" />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{auction.name}}</h5>

          <p>Seller: {{auction.seller}}</p>
        </div>
      </div></a
    >
  </li>

  {% endfor %}
</ul>
{% endblock %}
